= form_for [:admin, @battle, battle_work] do |f|
  - if battle_work.errors.any?
    #error_explanation
      %h2= "#{pluralize(battle_work.errors.count, "error")} prohibited this admin_battle from being saved:"
      %ul
        - battle_work.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :cover, class: 'control-label'
    = f.file_field :cover
  .form-group
    = f.label :author, class: 'control-label'
    = f.text_field :author, class: 'form-control'
  .form-group
    = f.label :description, class: 'control-label'
    = f.text_field :description, class: 'form-control'
  .actions
    = f.submit 'Сохранить'
