%h1 Работы

= link_to 'Новая', new_admin_battle_battle_work_path(battle)

%table
  %thead
    %tr
      %th Автор
      %th Описание
      %th
      %th
      %th

  %tbody
    - battle_works.each do |battle_work|
      %tr
        %td= battle_work.author
        %td= battle_work.description
        %td= link_to 'Show', admin_battle_battle_work_path(battle, battle_work)
        %td= link_to 'Edit', edit_admin_battle_battle_work_path(battle, battle_work)
        %td= link_to 'Destroy', admin_battle_battle_work_path(battle, battle_work), method: :delete, data: { confirm: 'Are you sure?' }

%br
